body {
  /* font-size: 20px; */
  font-family: 'Raleway', sans-serif;
}
  

  
.title h2 {
  padding-left: 0;
}

  /* Téléphone */

.title {
  padding-left: 20px;
}
  
.title h3 {
  padding-left: 0;
}
  
img {
  object-fit: cover;
}
  
header {
  display: flex;
}
  
  
nav {
  display: flex;
  width: 100%;
}
  
.liens {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
}
  
#ancre-2, #ancre-1 {
  border-top: none;
}
  
.logo {
  width: 120px;
  border: none;
  object-fit: fill;
}

.reservia:hover {
  border: none;
}
  
.reservia {
  width: fit-content;
}
  
#reservia {
  margin-left: 10px;
}

.city,
.city_info,
.hebergement,
h2,
h3 {
  padding-left: 20px;
}
  
body {
  margin: 0;
  padding: 0;
}
  
#hebergement,
#activities {
  width: 50%;
  border-bottom: solid 3px #f2f2f2;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 10px;
}
  
.top_bar {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}
  
.top_bar li {
  align-self: center;
}
  
.top_bar a:hover,
#hebergement:hover,
#activities:hover,
.hebergement_link:hover,
.activities_link:hover {
  border-color: #0065fc;
  color: #0065fc;
}
  
.hebergement_link,
.activities_link {
  text-decoration: none;
  color: black;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 100px;
}
  
.register {
  color: #0065fc;
  border-bottom: none;
  width: auto;
  text-decoration: none;
  font-family: "Raleway-Bold";
  align-self: baseline;
}
  
.register:hover {
  border: none;
}
  
#register {
  align-self: center;
  padding-right: 10px;
  padding-left: 5%;
}

/* Mise en page des cartes hébergements */

.classement {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-left: 20px;
  margin-top: 10px;
}
  
.blue_star {
  color: #0065fc;
}

.grey_star {
  color: #e2e2e2;
}
  
.hebergement {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0;
}
  
.hebergement_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 810px;
  background-color: #fff;
}
  
.hebergement_list a {
  background-color: #fff;
  box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
  
.hebergement_list a:hover {
  box-shadow: none;
}

.room_image {
  width: 100%;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.hebergement_list p {
  font-size: 1.5em;
  font-family: "Raleway-Bold";
  margin-left: 15px;
}
  
.hebergement_list h3 {
  font-size: 1em;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 5px;
  padding-left: 10px;
}
  
.hebergement_list h4 {
  font-size: 0.7em;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
  
.hebergement_list h5 {
  margin-left: 20px;
  font-size: 1em;
  width: 100%;
}
 
.hebergement_list a {
  text-decoration: none;
  color: black;
  border-radius: 25px;
  width: 100%;
}
  
.hebergement_list p {
  font-family: "Raleway-Bold";
  margin-left: 10px;
}


 /* Mise en page de la barre de recherche */

 .button_with_logo {
  border: 1px solid transparent;
  border-radius: 6px;
  width: fit-content;
  height: 30px;
  overflow: hidden;
  display: flex;
}

.map_marker {
  display: block;
  height: 30px;
  width: 30px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-map-marker {
  background-color: lightgray;
}


#research {
  display: block;
  border: none;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.mobile {
  background-color: rgb(0, 119, 255);
  border: none;
  height:30px;
  width: 40px;
  /* display: none; */
}

.fa-search { 
  color: white;
}

.desktop {
  background-color: rgb(0, 119, 255);
  border: none;
  height:30px;
  color: white;
  display: none;
}


* Design des filtres */
  
.design_filter button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearence: none;
}
  
.design_filter button {
  border-radius: 30px;
  height: 42px;
  width: 42px;
  background: #deebff;
  border: 1px solid #deebff;
  color: #0065fc;
  outline: none;
  margin: 0;
  align-self: flex-end;
}
  
.filters_list button:hover {
  color: #838383;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
  
.design_filter {
  border: solid 2px #f2f2f2;
  border-radius: 30px;
  width: max-content;
  padding-right: 20px;
  border-left: none;
  margin-right: 15px;
  margin-top: 10px;
}
  
.filters_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
  
.filters p {
  margin-bottom: 0;
  margin-right: 20px;
  font-weight: bold;
  align-self: center;
}


/* Design de la partie "infos" */
  
.city_info {
  display: flex;
  align-items: center;
}
  
.i_logo {
  display: flex;
  color: #0065fc;
  padding: 6px;
  padding-left: 11px;
  padding-right: 11px;
  border: solid 1px #f2f2f2;
  border-radius: 30px;
  justify-content: flex-start;
  margin-right: 10px;
}

/* Mise en page "les plus populaires" */
  
.most_popular {
  background-color: #f2f2f2;
  padding: 10px;
}
  
.most_popular_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
  
.most_popular_title i {
  align-self: center;
}
  
.most_popular_title h2 {
  font-size: 1.6em;
}
  
.popular_room_image {
  width: 150px;
  height: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
  
.most_popular_list a {
  text-decoration: none;
  color: black;
  border-radius: 25px;
  height: 150px;
  display: flex;
  background-color: #fff;
  margin-bottom: 25px;
  padding: 5px;
  box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
  max-width: 450px;
  min-width: 322px;
}
  
.most_popular p {
  font-size: 1.6em;
  font-family: "Raleway-Bold";
}
  
.description h2 {
  font-size: 0.8em;
}
  
.most_popular h3 {
  font-size: 0.6em;
  font-family: "Raleway-Thin";
}
  
.most_popular_list {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
  
  /* Mise en page des cartes activités */
  
.activities {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
  
.activities_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
  
.activitie_image_large,
.activitie_image_medium,
.activitie_image_small {
  height: 150px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.activities h2 {
  font-size: 1.6em;
  font-family: "Raleway-Bold";
  padding-left: 0;
}
  
.activities h3 {
  font-size: 1em;
  margin-left: 20px;
}
  
.activities a {
  text-decoration: none;
  color: black;
  border-radius: 25px;
  margin-bottom: 25px;
  height: fit-content;
  box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
}


/* Footer */
  
footer h2 {
  font-size: 1.1em;
  font-family: "Raleway-Bold";
  padding-left: 0;
}
  
footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  padding-left: 40px;
}
  
footer a {
  text-decoration: none;
  color: black;}
  
footer ul {
  padding-inline-start: 0;
}
  
footer li {
  list-style-type: none;
  margin-bottom: 15px;
}
  
footer div {
  margin-right: 100px;
}
  
footer a:hover {
  text-decoration: underline;
}


/* BREAKPOINT pour tablettes */
@media screen and (min-width: 768px) {
  
    
  /* Nav */
  .liens li:nth-child(1) {
    order: 4;
    flex: 2;
  }
  
  .liens li:nth-child(2) {
    order: 0;
  }
  
  .liens li:nth-child(3) {
    order: 2;
    }
      
  .lien li:nth-child(4) {
    order: 2;
  }
  
  nav {
    width: 100%;
    flex-direction: row;
  }
  
  .register {
    padding-top: 10px;
  }
    
  #register {
    align-self: unset;
  }
    
  h2,
  h3 {
    padding-left: 20px;
    width: fit-content;
  }
      
  #hebergement,
  #activities {
    border-bottom: none;
    width: fit-content;
    margin-left: 50px;
    width: auto;
  }
      
  .top_bar {
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .top_bar li {
    align-self: baseline;
  }
      
  .register {
    display: flex;
  }
      
  #logo {
    align-self: flex-start;
  }
      
  .top_bar {
    flex-direction: row;
    justify-content: space-between;
  }
      
  .liens {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  nav a:hover {
    border-top: solid 2px #0065fc;
  }
      
  /* Barre de recherche */
      
  .city_textfield {
    width: 300px;
  }
      
  .search_button {
    background-image: none;
    font-size: 1em;
    width: auto;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Hébergements */
    
.room_image {
  width: 320px;
}

.hebergement_list a {
  width: max-content;
}
    
.hebergement_list p {
  width: 100%;
  padding-left: 60px;
}
    
.hebergement_list {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
  
.hebergement_list h2 {
  width: 100%;
}
    
.hebergement_list h4 {
  width: 100%;
}
    
/* Les plus populaires */
    
.most_popular {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 30px;
}
    
.most_popular a,
.most_popular li {
  width: auto;
  height: auto;
  max-width: none;
}
    
.popular_room_image {
  width: 300px;
  height: 200px;
}
    
.most_popular h2 {
  font-size: 1.2em;
}
    
.most_popular h3 {
  font-size: 1em;
}
    
.description {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Activités */
.activitie_image_large,
.activitie_image_medium,
.activitie_image_small {
  height: 200px;
  width: 320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities_list a {
  width: max-content;
  background-color: white;
  box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
}
    
.activities_list {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
    
.activities a {
  max-width: none;
}
  
    
.activities h2 {
  font-size: 1.5em;
}
    
footer {
  justify-content: space-around;
  flex-direction: row;
}
}


/* BREAKPOINT pour tablette format sup */
@media screen and (min-width: 992px) {

  .liens {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .description {
    width: 400px;
  }

  .register {
    margin-right: 0;
  }

  .popular_room_image {
    width: 300px;
    height: 200px;
  }

  .description h2 {
    font-size: 1.5em;
  }

  .description h3 {
    font-size: 1.2em;
  }

  .hebergement_list {
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  .activities_list {
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  .activitie_image_large,
  .activitie_image_medium,
  .activitie_image_small {
    height: 200px;
    width: 420px;
  }
  .hebergement_list h4 {
    font-size: 1em;
    font-family: "Raleway";
    text-align: start;
    width: 100%;
    padding-left: 20px;
  }
}



/* BREAKPOINT pour ordinateurs */
@media screen and (min-width: 1200px) {
  
  
  .register:hover {
    border: none;
  }

  .liens {
    justify-content: end;
    flex-wrap: nowrap;
  }

  .hebergement_link:hover, .activities_link:hover {
    border-top: #0065fc solid 2px;
  }

  .hebergement_link, .activities_link {
    padding-top: 18px;
  }


  .mobile {
      display: none;
  }

  .desktop {
      display: inline;
  }

  .register {
    margin-right: 0;
    padding-top: 10px;
    margin-left: 50px;
  }

  #register {
    padding-left: 0;
  }

  .hebergement {
    flex-direction: row;
  }

  .popular_room_image {
    width: 150px;
    height: 150px;
  }

  .description h2 {
    font-size: 1em;
  }

  .description h3 {
    font-size: 0.8em;
  }

  .description {
    width: auto;
  }

  .hebergement_list {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 15px;
  }

  .hebergement_list a {
    margin: 10px;
    height: fit-content;
  }

  .most_popular {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 15px;
  }

  .most_popular a {
    margin-bottom: 10px;
    transition-duration: 0.2s;
  }

  .most_popular a:hover {
    box-shadow: none;
  }

  .hebergement_list h4 {
    font-size: 1em;
    font-family: "Raleway";
    text-align: start;
    width: 100%;
    padding-left: 20px;
  }

  .hebergement_list p {
    padding-left: 20px;
  }

  .liens li:nth-child(1) {
    order: 4;
  }
  .liens li:nth-child(2) {
    order: 0;
  }
  .liens li:nth-child(3) {
    order: 2;
  }
  .lien li:nth-child(4) {
    order: 2;
  }