body {
  /* font-size: 20px; */
  font-family: 'Raleway', sans-serif;
}
  

  
.title h2 {
  padding-left: 0;
}

  /* Téléphone */

.title {
  padding-left: 20px;
}
  
.title h3 {
  padding-left: 0;
}
  
img {
  object-fit: cover;
}
  
header {
  display: flex;
}
  
  
nav {
  display: flex;
  width: 100%;
}
  
.liens {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
}
  
#ancre-2, #ancre-1 {
  border-top: none;
}
  
.logo {
  width: 120px;
  border: none;
  object-fit: fill;
}

.reservia:hover {
  border: none;
}
  
.reservia {
  width: fit-content;
}
  
#reservia {
  margin-left: 10px;
}

.city,
.city_info,
.hebergement,
h2,
h3 {
  padding-left: 20px;
}
  
body {
  margin: 0;
  padding: 0;
}
  
#hebergement,
#activities {
  width: 50%;
  border-bottom: solid 3px #f2f2f2;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 10px;
}
  
.top_bar {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}
  
.top_bar li {
  align-self: center;
}
  
.top_bar a:hover,
#hebergement:hover,
#activities:hover,
.hebergement_link:hover,
.activities_link:hover {
  border-color: #0065fc;
  color: #0065fc;
}
  
.hebergement_link,
.activities_link {
  text-decoration: none;
  color: black;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 100px;
}
  
.register {
  color: #0065fc;
  border-bottom: none;
  width: auto;
  text-decoration: none;
  font-family: "Raleway-Bold";
  align-self: baseline;
}
  
.register:hover {
  border: none;
}
  
#register {
  align-self: center;
  padding-right: 10px;
  padding-left: 5%;
}

/* Mise en page des cartes hébergements */

.classement {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-left: 20px;
  margin-top: 10px;
}
  
.blue_star {
  color: #0065fc;
}

.grey_star {
  color: #e2e2e2;
}
  
.hebergement {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0;
}
  
.hebergement_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 810px;
  background-color: #fff;
}
  
.hebergement_list a {
  background-color: #fff;
  box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
  
.hebergement_list a:hover {
  box-shadow: none;
}

.room_image {
  width: 100%;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.hebergement_list p {
  font-size: 1.5em;
  font-family: "Raleway-Bold";
  margin-left: 15px;
}
  
.hebergement_list h3 {
  font-size: 1em;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 5px;
  padding-left: 10px;
}
  
.hebergement_list h4 {
  font-size: 0.7em;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-left: 10px;
}
  
.hebergement_list h5 {
  margin-left: 20px;
  font-size: 1em;
  width: 100%;
}
 
.hebergement_list a {
  text-decoration: none;
  color: black;
  border-radius: 25px;
  width: 100%;
}
  
.hebergement_list p {
  font-family: "Raleway-Bold";
  margin-left: 10px;
}


 /* Mise en page de la barre de recherche */

 .button_with_logo {
  border: 1px solid transparent;
  border-radius: 6px;
  width: fit-content;
  height: 30px;
  overflow: hidden;
  display: flex;
}

.map_marker {
  display: block;
  height: 30px;
  width: 30px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-map-marker {
  background-color: lightgray;
}


#research {
  display: block;
  border: none;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.mobile {
  background-color: rgb(0, 119, 255);
  border: none;
  height:30px;
  width: 40px;
  /* display: none; */
}

.fa-search { 
  color: white;
}

.desktop {
  background-color: rgb(0, 119, 255);
  border: none;
  height:30px;
  color: white;
  display: none;
}

